* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
a {
  text-decoration: none;
  color: #000;
}
body {
  background-color: #f1f1f1;
}
nav {
  padding: 0 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  font-size: 18px;
}
nav a.logo {
  font-size: 33px;
  color: #304ffe;
  font-weight: 600;
}
nav .links a:not(:last-child) {
  margin-right: 20px;
}

nav .login button {
  padding: 8px 14px;
  border: none;
  cursor: pointer;
  background-color: transparent;
}

nav .login button.signup {
  background-color: #000;
  color: #fff;
  border-radius: 4px;
  margin-left: 14px;
}

header{
    padding: 0 80px;
    height: calc(100vh - 80px);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .left{
    width: 700px;
}
header .left h1{
  font-size: 80px;
}
header .left h1 span{
  color:#304ffe;
}
header .left p{
  margin: 40px 0;
  color: #777;
}
header .left a{
  display: flex;
  align-items: center;
  background:#000;
  width: 200px;
  padding: 8px;
  border-radius: 60px;
}
header .left a i{
  background-color: #fff;
  font-size: 24px;
  border-radius: 50%;
  padding: 8px;
}
header .left a span{
  color: #fff;
  margin-left: 10px;
}
img{
 width: 600px;
 object-fit: contain;
 margin-right: 5%;
}
h2.separator {
  padding: 0 80px;
  font-size: 40px;
  margin-top: 40px;
}
.sell-item{
  padding: 0 80px;
  margin: 50px 0 80px;
  display: flex;
  justify-content: space-between;
  gap: 30px;
}
.sell-item .item{
  padding: 20px;
  background:#fff;
  border-radius: 18px;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transform: all 0.3s ease;}

.sell-item .item:hover{
  box-shadow: none;
}
.sell-item .item .header{
  display: flex;
  align-items: center;
  gap: 10px;
}
.sell-item .item .header i{
  font-size: 40px;
}
.sell-item .item p{
  margin-top: 10px;
  padding: 0 4px;
}
.item-shop{
  padding: 0 80px;
  margin-top: 30px;
}
.item-shop .category{
  display: flex;
  gap: 14px;
}
.item-shop .category a{
  background: #ccc;
  padding: 8px 14px;
  font-size: 15px;
  border-radius: 14px;
  transform: all 0.3s ease;
}
.item-shop .category a:hover{
  color:#fff;
  background-color: #304ffe;
}
.item-product-image{
  width: 50%;
  height: auto;
  object-fit: contain;
}
.product-all {
  padding: 0 80px;
  margin: 50px 0 50px;
  display: flex;
  justify-content: space-between;
  gap: 30px; 
  flex-wrap: wrap;
}

.product-all .products-item {
  flex: 1 1 300px;
  max-width: 100%; 
  height: auto; 
  padding: 20px;
  border-radius: 18px;
  background: #fff;
  box-shadow: 0 10px 30px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
  display: flex;
}


.product-all .products-item:hover {
  box-shadow: none;
}

.product-all .products-item .products {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 20px;
  width: 100%;
}

.product-image {
  width: 100%;
  height: 250px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.item-product-image {
  width: 250px;
  margin-left: auto;
  display: block;
}

.products p {
  margin: 80px 0 20px;
}

.order-product {
  margin-top: auto;
  padding: 10px 20px;
  color: #304ffe;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 700;
}
.order-product:hover{
  background-color:#304ffe;
  color:#fff
}
.sellers{
  padding: 0 80px;
  margin: 40px 0 80px;
  display: flex;
  gap: 30px;
}
.sellers .item{
  background: #fff;
  display: flex;
  align-items: center;
  width: 25%;
  gap: 14px;
  padding: 14px;
  border-radius: 18px;
  cursor: pointer;
  box-sizing: 0 10px 30px rgba(0,0,0,0.1);
  transition: all 0.3s ease;
}
.sellers .item img{
  width: 64px;
}
.sellers .item .info p{
  font-size: 14px;
  margin-top: 8px;
}
footer{
  background-color: #000;
  color:#fff;
  padding:  100px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
footer h3{
   font-size: 48px;
}

footer .right{
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  gap: 26px;
}
footer .right .links{
  display: flex;
  gap: 30px;
}

footer .right .links a{
  color: #989898;
  transition: color 0.3s ease;
}
footer .right .links a:hover{
  color: #fff;
}
footer .right  .social{
  display: flex;
  align-items:center;
  gap:10px;
}
footer .right .social i{
  font-size: 30px;
  cursor:pointer;
  transition: color 0.3s ease;
}
footer .right .social i:hover{
  color: #304ffe;
}
footer .right p{
  font-size: 13px;
  color : #777;
}
@media screen and (max-width: 1400px){
  nav-down,
  header,
  h2.separator,
  .sell-item,
  .item-shop,
  .sellers{
    padding: 0 40px;
  }
  header .left h1{
    font-size: 60px;
  }
  header img{
    width: 540px;
  }
  .item-shop .item-list .item{
    width: 220px;
    height: 220px;
  }
  footer{
    padding: 100px 40px;
  }
  footer h3{
    font-size: 38px;
  }
}
@media screen and (max-width:1200px){

  .header left h1{
    font-size: 48px;
  }

  header img{
    width: 480px;
  }

  h2.separator{
    font-size: 34px;
  }

  .sell-item .item .header i{
    font-size: 36px;
  }
  .sell-item .item .header h5{
    font-size: 15px;
  }
  .sell-item .item p{
    font-size: 13px;
  }

  .item-shop .item-list{
    flex-wrap:wrap;
    row-gap:30px;
  }
  .item-shop .item-list .item{
    width: 48%;
  }
  .item-shop .item-list .item img{
    width:100%;
    height: auto;
  }
  .sellers{
    flex-wrap:wrap;
  }
  .sellers .item{
    width: 48%;
  }

  footer .links a{
    font-size: 15px;
  }
}
@media screen and (max-width:992px){

  nav a.logo{
    font-size:28px;
  }

  nav .links {
    font-size: 14px;
  }
  header{
    flex-direction: column-reverse;
    height: auto;
    margin-bottom: 60px;
  }
  header .left{
     width: 100%;
  }

  header img{
    width: 100%;
  }

  .sell-item{
    flex-wrap: wrap;
    gap:20px;
  }
  .sell-item .item{
    width: 48%;
  }
  .sellers{
    gap:20px;
  }

  footer{
    flex-direction: column;
    padding:60px 40px;
  }
  footer h3{
    margin-bottom:40px;
    font-size:32px;
  }
  footer .right{
    width: 100%;
    align-items: center;
  }
}
@media screen and (max-width: 768px){

  nav,
  header,
  h2.separator,
  .sell-item,
  .item-shop,
  .sellers{
    padding: 0 20px;
  }
  nav a .logo{
    display: none;
  }

  nav .links a{
    font-size: 12px;
  }

  nav .login button{
    font-size: 12px;
    padding: 6px 10px;
  }

  header .left h1{
    font-size: 36px;
  }

    header .left p{
    font-size: 14px;
  }
    header .left a{
      padding: 6px;
      width:160px;
    font-size: 14px;
  }

  header .left a i{
    padding: 6px;
  }
  h2.separator{
    font-size: 30px;
  }

  footer{
    padding: 40px 20px;
  }
}
@media screen and (max-width: 576px){

  header .left h1{
    font-size: 30px;
  }

  .sell-item .item{
    width: 100%;
  }

  .item-shop .item-list .item,
  .sellers .item{
    width: 47%;
  }
  .item-shop .category a {
    font-size: 13px;
  }
}